head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  if meta.title
    title #{meta.title}
  if meta.description
    meta(name="description" content=meta.description)
  if meta.keyword
    meta(name="keywords" content=meta.keywords)
  if meta.css.length > 0
    each item in meta.css
      link(rel="stylesheet" href=item)
  if meta.bread.length > 0
    -
      for(var i in meta.bread){ meta.bread[i]["item"] = domain + meta.bread[i]["item"]}
    -bread["itemListElement"] = meta.bread;
    -const breadJson = JSON.stringify(bread);
      script(type="application/ld+json") !{breadJson}