extends ../../layout/_TOP.pug
block contents 
  .contact.mainconts(v-cloak)
    .inner  
      .heading  
        h1 contact
      .explain 
        .email
          h2 Email:
          .link
            a( href="mailto:maeda.m1217@gmail.com " data-link-type="mailto" data-link-value="maeda.m1217@gmail.com ") maeda.m1217@gmail.com </a>
            p or send me a message.
          .error  
            <ul v-if="errors.length">
              <li v-for="error in errors" v-bind:key="error">{{ error }}</li>
            </ul>
        .formbox  
          form(
              name="contact" 
              novalidate="novalidate"
              method="POST"
              data-netlify="true"
              netlify-honeypot="bot-field" 
              action="/contact/success/" 
              type="hidden"
            ) 
            .area 
              .name 
                input( type="text" v-model="form.name" name="name" placeholder="Name" required="required")
              .email 
                input( type="email" v-model="form.email" name="email" placeholder="Email" required="required")
              .message 
                textarea( type="text" name="message" v-model="form.message"  placeholder="message" rows="8" required="required")
            .confirmbtn
              input(type="submit" name="" value="送信する")
