extends ../../layout/_TOP.pug
block contents 
  .contact.mainconts(v-cloak)
    .inner  
      .heading  
        h1 contact
      .explain 
        .email
          h2 Email:
          .link
            a( href="mailto:maeda.m1217@gmail.com " data-link-type="mailto" data-link-value="maeda.m1217@gmail.com ") maeda.m1217@gmail.com </a>
            p or send me a message.
          .error  
            <ul>
              li 
            </ul>
        .formbox  
          form(
              name="contact",
              method="POST",
              action ="/",
              @submit.prevent="validateForm"
              novalidate="novalidate",
              data-netlify="true",
              netlify-honeypot="bot-field",
              action="/contact/success/",
              type="hidden",
            ) 
            .area 
              input(type="hidden" name="contact" value="ask-question")
              .name 
                input( type="text" v-model="name" name="name" placeholder="Name" required="required")
              .email 
                input( type="email" v-model="email" name="email" placeholder="Email" required="required")
              .message 
                textarea( type="text" name="message" v-model="message"  placeholder="message" rows="8" required="required")
            .confirmbtn
              button( type="submit" ) 送信する
